@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #303FDC ;
    height: 100vh;
    display: flex;
    position: relative;
}
.main-container {
    margin: auto;
}
.head-text {
    text-align: center;
    color: #F1C40F;
    margin: 0;
    font-size: 4.5rem;
}
/*--navbar buttons---*/
.navi {
    text-align: center;
}
#navi {
    padding-top: 1rem;
}
.btn {
    margin-bottom: 0.7rem;
    width: 7rem;
}
.front-img {
    width: 100%;
    height: 85%;
    border-radius: 3%;
    
   
}
.img-cont {
     text-align: center;
     padding-top: 1rem;
}
/*media quer*/
@media only screen and (max-width: 600px) {

.head-text {
    margin-bottom: 2rem;
    margin-top: 8px;
}
.img-cont {
    padding-top: 15px;
}
.game-card {
    display: block;
    position: relative;
    text-align: center;
}
.container-game {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
   
}
.card {
    max-width: 250px;
}
img {
    height: 100%;
    width: 100%;
}
}
/*introduction*/
.intro-head .intro-text {
    color: #F1C40F;
}
.intro-box, .intro-text {
    text-align: center;
    color: #F1C40F;
}
/*contact*/
.form-box {
    color: #F1C40F;
}
.sub-btn {
    text-align: center;
}
/*game*/

.container-game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.card {
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    width: 21%;
   
}
.front-card {
    position: relative;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
   
    
}
.back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.card.flip {
    transform: rotateY(180deg);
     -webkit-transform: rotateY(180deg);
}
.game-buttons {
    justify-content: center;
}
/*modal*/
.hidden {
    display: none;
}
.show {
    display: block;
}
.game-over-modal {
    background-color: rgba(255,255,255,0.8);
    padding:50px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}