@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #303FDC ;
}
    
.head-text {
    text-align: center;
    color: #F1C40F;
    margin: 0;
    font-size: 4.5rem;
}
.navi {
    text-align: center;
}
#navi {
    padding-top: 1rem;
}
.btn {
    margin-bottom: 0.7rem;
    width: 7rem;
}
.front-img {
    width: 100%;
    height: 85%;
    border-radius: 3%;
    
   
}
.img-cont {
     text-align: center;
     padding-top: 1rem;
}
/*media quer*/
@media only screen and (max-width: 600px) {

.head-text {
    margin-bottom: 2rem;
    margin-top: 8px;
}
.img-cont {
    padding-top: 15px;
}
}
/*introduction*/
.intro-head .intro-text {
    color: #F1C40F;
}
.intro-box, .intro-text {
    text-align: center;
    color: #F1C40F;
}
/*contact*/
.form-box {
    color: #F1C40F;
}
/*game*/#
.game-navi a {
    display: inline;
}